asgiref==3.7.2
async-timeout==4.0.3
backports.zoneinfo==0.2.1
black==23.10.1
boto3==1.28.85
botocore==1.31.85
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
Django==4.2.7
djangorestframework==3.14.0
dnspython==2.4.2
eureka-client==0.6.2
idna==3.4
ifaddr==0.2.0
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
py-eureka-client==0.11.8
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.8.0
urllib3==1.26.18
